/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        hrr: hrr {
            compatible = "zmk,behavior-hold-tap";
            label = "Home Row Right";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <1 2 3 4 5 15 16 17 18 19 29 30 31 32 33 40 42>;
            quick-tap-ms = <200>;
            hold-trigger-on-release;
        };

        hrl: hrl {
            compatible = "zmk,behavior-hold-tap";
            label = "Home Row Left";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            hold-trigger-key-positions = <8 9 10 11 12 22 23 24 25 26 34 35 36 37 38 44 45>;
            quick-tap-ms = <200>;
            hold-trigger-on-release;
        };

        hold_reset: lp {
            compatible = "zmk,behavior-hold-tap";
            label = "Long Press";
            bindings = <&sys_reset>, <&none>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <2000>;
            require-prior-idle-ms = <500>;
        };

        hold_boot: hold_boot {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_BOOT";
            bindings = <&bootloader>, <&none>;

            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <2000>;
            require-prior-idle-ms = <500>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |  MUTE |  PP   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |  LALT |  RALT |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |               |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |               | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W            &kp E                &kp R            &kp T      &none         &none            &kp Y         &kp U             &kp I                 &kp O             &kp P      &none
&none  &kp A  &hrl LEFT_ALT S  &hrl LEFT_CONTROL D  &hrl LEFT_GUI F  &kp G      &lt 4 DELETE  &lt 5 BACKSPACE  &kp H         &hrr J RIGHT_GUI  &hrr RIGHT_CONTROL K  &hrr RIGHT_ALT L  &kp ENTER  &none
&none  &kp Z  &kp X            &kp C                &kp V            &kp B                                     &kp N         &kp M             &kp COMMA             &kp DOT           &kp SLASH  &none
                               &kp LEFT_SHIFT       &kp SPACE        &lt 1 TAB                                 &lt 2 ESCAPE  &lt 3 BACKSPACE   &kp RIGHT_SHIFT
            >;
        };

        navigation {
            display-name = "NAV";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
&none  &none  &none         &none             &none         &none  &none  &none  &none           &none           &none            &none            &none      &none
&none  &none  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_GUI  &none  &none  &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW     &kp RIGHT_ARROW  &kp ENTER  &none
&none  &none  &none         &none             &none         &none                &none           &kp PAGE_DOWN   &kp PAGE_UP      &none            &none      &none
                            &none             &none         &none                &kp ESC         &kp BACKSPACE   &kp RIGHT_SHIFT
            >;
        };

        number {
            display-name = "NUM";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |      |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
&none  &kp BACKSLASH  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp ASTERISK  &none  &none  &none  &none          &none              &none          &none  &none
&none  &kp EQUAL      &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp DOT       &none  &none  &none  &kp RIGHT_GUI  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &none  &none
&none  &kp PLUS       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp MINUS                   &none  &none          &none              &none          &none  &none
                                    &kp COMMA     &kp NUMBER_0  &none                       &none  &none          &none
            >;
        };

        symbol {
            display-name = "SYM";
            bindings = <
&none  &kp EXCLAMATION  &kp AT_SIGN    &kp HASH              &kp DOLLAR      &kp PERCENT       &none  &none  &kp CARET          &kp AMPERSAND      &kp ASTERISK           &kp GRAVE         &kp TILDE     &none
&none  &kp EQUAL        &kp SEMICOLON  &kp LEFT_PARENTHESIS  &kp LEFT_BRACE  &kp LEFT_BRACKET  &none  &none  &kp RIGHT_BRACKET  &kp RIGHT_BRACE    &kp RIGHT_PARENTHESIS  &kp COLON         &kp ENTER     &none
&none  &kp PLUS         &kp PIPE       &kp UNDERSCORE        &kp BACKSLASH   &kp MINUS                       &kp SQT            &kp DOUBLE_QUOTES  &kp LESS_THAN          &kp GREATER_THAN  &kp QUESTION  &none
                                       &none                 &kp SPACE       &none                           &none              &none              &none
            >;
        };

        media {
            display-name = "MEDIA";
            bindings = <
&none  &none  &none  &none  &none  &none  &none  &rgb_ug RGB_TOG  &none           &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &none       &none  &none
&none  &none  &none  &none  &none  &none  &none  &out OUT_TOG     &kp C_PREVIOUS  &kp C_VOLUME_DOWN     &kp C_VOLUME_UP       &kp C_NEXT  &none  &none
&none  &none  &none  &none  &none  &none                          &none           &none                 &none                 &none       &none  &none
                     &none  &none  &none                          &none           &kp C_MUTE            &kp C_PLAY_PAUSE
            >;
        };

        fun {
            display-name = "FUN";
            bindings = <
&none  &hold_reset 0 0  &kp F7  &kp F8          &kp F9  &kp F12  &bt BT_SEL 0  &bt BT_SEL 1  &none       &none          &none              &none          &none  &none
&none  &hold_boot 0 0   &kp F4  &kp F5          &kp F6  &kp F11  &bt BT_SEL 2  &bt BT_CLR    &none       &kp RIGHT_GUI  &kp RIGHT_CONTROL  &kp RIGHT_ALT  &none  &none
&none  &studio_unlock   &kp F1  &kp F2          &kp F3  &kp F10                              &none       &none          &none              &none          &none  &none
                                &kp LEFT_SHIFT  &none   &none                                &kp ESCAPE  &none          &kp RIGHT_SHIFT
            >;
        };
    };
};
